@model IEnumerable<FlashResult>
@{
    ListHeaderModel header = ViewBag.Header;
    ViewBag.Title = String.Format("{0}{1} {2}{3}", header.Live ? "Live! " : String.Empty, header.Round,
                       header.GroupId == null ? String.Empty : (header.Group.AgeGroup.SecretaryName + " "), header.Style);
    int routeCount = header.Children.Count();
}
<div id="@ViewBag.DivID">
<h2>@ViewBag.Title</h2>
<table>
    <tr>
        <th rowspan="2">@Html.DisplayNameFor(model => model.PosText)</th>
        <th rowspan="2">@Html.DisplayNameFor(model => model.Climber)</th>
        <th rowspan="2">@Html.DisplayNameFor(model => model.Climber.TeamList)</th>
        <th rowspan="2">@Html.DisplayNameFor(model => model.Climber.Age)</th>
        <th rowspan="2">@Html.DisplayNameFor(model => model.Climber.Qf)</th>
        @for (int i = 1; i <= routeCount; i++)
        {
            <th colspan="2">@String.Format("Квал.{0}", i)</th>
        }
        <th rowspan="2">@Html.DisplayNameFor(model => model.ResText)</th>
    </tr>
    <tr>
        @for (int i = 0; i < routeCount; i++)
        {
            <th>@Html.DisplayNameFor(model=> model.ResText)</th>
            <th>@Html.DisplayNameFor(model => model.PointsText)</th>
        }
    </tr>
    @foreach (var item in Model.Where(r => !r.PreQf))
    {
        <tr class="@(String.IsNullOrEmpty(item.Qf) ? String.Empty : "qf")">
            <td>@Html.DisplayFor(m => item.PosText)</td>
            <td>@Html.DisplayFor(m => item.Climber.ClimberName)</td>
            <td>@Html.DisplayFor(m => item.Climber.TeamList)</td>
            <td>@Html.DisplayFor(m => item.Climber.Age)</td>
            <td>@item.Climber.Qf.GetFriendlyValue()</td>
            @foreach (var route in item.Routes)
            {
                <td>@Html.DisplayFor(m=>route.ResText)</td>
                <td>@Html.DisplayFor(m=>route.PosText)</td>
            }
            <td>@Html.DisplayFor(m => item.ResText)</td>
        </tr>
    }
</table>
</div>