@model HomeController.ClimberListViewModel
@{
    ViewBag.Title = Model.Comp.ShortName + " - список участников";
    String updateDivId = "climberslist";
    String onChange = "$(this.form).submit()";
}

<h2>@ViewBag.Title</h2>
<p>Окончание приема заявок: @(Model.Comp.ApplicationsEnd.ToString("dd.MM.yyyy"))</p>
@using (Ajax.BeginForm("ClimbersList", new { id = Model.Comp.Iid, divId = updateDivId }, 
    new AjaxOptions() { HttpMethod = "GET",
                        UpdateTargetId = updateDivId, 
                        InsertionMode = InsertionMode.Replace, 
                        LoadingElementId = "ajax-load", 
                        OnFailure = "searchFailed" }))
{
    <fieldset>
        <img src="~/Images/orderedList0.png" alt="Загрузка..." style="display:none" />
        <div class="editor-label">
            <label for="reg_select">Команда:</label> 
        </div>
        <div class="editor-field">
            @Html.DropDownList("regionId", Model.RegionsList, "Все команды", new { id = "reg_select", onchange = onChange })
        </div>
        <div class="editor-label">
            <label for="reg_select">Группа:</label> 
        </div>
        <div class="editor-field">
            @Html.DropDownList("groupId", Model.GroupsList, "Все группы", new { id = "reg_select", onchange = onChange })
        </div>
    </fieldset>
}
@Html.Action("ClimbersList", new { id = Model.Comp.Iid, divId = updateDivId, regionId = Model.RegionsList.SelectedValue, groupId = Model.GroupsList.SelectedValue })
