@model IEnumerable<Comp_CompetitiorRegistrationModel>
@{
    String divId = ViewBag.DivId;
    CompetitionModel comp = ViewBag.Comp;
    int i = 0;
}
<div id="@divId">
    <table>
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(m => m.SecretaryId)</th>
            <th>@Html.DisplayNameFor(m => m.Person.Surname)</th>
            <th>@Html.DisplayNameFor(m => m.Person.Name)</th>
            <th>@Html.DisplayNameFor(m => m.Person.YearOfBirth)</th>
            <th>@Html.DisplayNameFor(m => m.Qf)</th>
            <th>@Html.DisplayNameFor(m => m.TeamList)</th>
            <th>@Html.DisplayNameFor(m => m.CompAgeGroup)</th>
            @if (comp.Lead)
            {
                <th>@Html.DisplayNameFor(m => m.Lead)</th>
            }
            @if (comp.Speed)
            {
                <th>@Html.DisplayNameFor(m => m.Speed)</th>
            }
            @if (comp.Boulder)
            {
                <th>@Html.DisplayNameFor(m => m.Boulder)</th>
            }
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(++i)</td>
                <td>@Html.DisplayFor(m => item.SecretaryId)</td>
                <td>@Html.DisplayFor(m => item.Person.Surname)</td>
                <td>@Html.DisplayFor(m => item.Person.Name)</td>
                <td>@Html.DisplayFor(m => item.Person.YearOfBirth)</td>
                <td>@(item.Qf.GetFriendlyValue())</td>
                <td>@Html.DisplayFor(m => item.TeamList)</td>
                <td>@Html.DisplayFor(m => item.CompAgeGroup.AgeGroup.FullName)</td>
                @if (comp.Lead)
                {
                    <td>@item.Lead.GetFriendlyValue()</td>
                }
                @if (comp.Speed)
                {
                    <td>@item.Speed.GetFriendlyValue()</td>
                }
                @if (comp.Boulder)
                {
                    <td>@item.Boulder.GetFriendlyValue()</td>
                }
            </tr>
        }
    </table>
</div>