@model ClimbingEntities.Lists.ListHeader
@{
    ViewBag.Title = Model.Competition.ShortName;
    object htmlAttr = new { onchange = "$(this.form).submit()" };
}

<h2>@ViewBag.Title</h2>

<p>
    @using (Html.BeginForm("Index", "Results", FormMethod.Get))
    {
        @Html.DropDownList("style", (IEnumerable<SelectListItem>)ViewBag.Styles, htmlAttr)
        @Html.Hidden("compId", Model.CompId)
    }
</p>
<p>
    @using (Html.BeginForm("Index", "Results", FormMethod.Get))
    {
        @Html.DropDownList("groupId", (IEnumerable<SelectListItem>)ViewBag.Groups, htmlAttr)
        @Html.Hidden("compId", Model.CompId)
        @Html.Hidden("style", Model.Style)
    }
</p>
<p>
    @using(Html.BeginForm("Index", "Results", FormMethod.Get))
    {
        @Html.DropDownList("listId", (IEnumerable<SelectListItem>)ViewBag.Lists, htmlAttr)
    }
</p>

<h3>@string.Format("{0} {1} {2}", Model.AgeGroup.AgeGroup.ShortName, Model.StyleFriendlyName, Model.RoundName)</h3>
<div>
    @switch (Model.Style)
    {
        case ClimbingCompetition.Common.ClimbingStyles.Speed:
            @Html.Action("RenderSpeed", new { id = Model.Iid })
            break;
        case ClimbingCompetition.Common.ClimbingStyles.Lead:
            @Html.Action("RenderLead", new { id = Model.Iid })
            break;
        case ClimbingCompetition.Common.ClimbingStyles.Bouldering:
            @Html.Action("RenderBoulder", new { id = Model.Iid })
            break;
    }
</div>