@using WebClimbing.Models;
@using WebClimbing;
@using System.Linq;
@model RegionEditModel
@{
    String message = ViewBag.Message;
    ViewBag.Title = (Model.Iid ?? 0) > 0 ? Model.Name + " - корректировка" : "Новый регион";
}
@if ((Model.Iid??0) > 0)
{
    <h2>Правка региона <b>@Model.Name</b></h2>
}
else
{
    <h2>Новый регион</h2>
}
@if (!String.IsNullOrEmpty(message))
{
    <div class="message-success">
        @message
    </div>
}
@using (Html.BeginForm("Save", "Regions"))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Регион</legend>

        @Html.HiddenFor(model => model.Iid)
                
        <div class="editor-label">
            @Html.LabelFor(model => model.IidParent)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IidParent, (SelectList)ViewBag.Regions)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SymCode)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.PrefixCode)
            @Model.PrefixCode
            @Html.EditorFor(model => model.SymCode)
            @Html.ValidationMessageFor(model => model.SymCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        
        @if (Model.Users != null)
        {
            <div class="editor-label">
                @Html.LabelFor(model => model.Users)
            </div>
            <div class="editor-field">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Пользователь</th>
                            <th>Регион</th>
                            <th>E-mail</th>
                            <th>Администратор</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Users.Count; i++)
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td>
                                    @Html.HiddenFor(model => model.Users[i].UserId)
                                    @Html.HiddenFor(model => model.Users[i].UserName)
                                    @Html.DisplayFor(model => model.Users[i].UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Users[i].UserRegion)
                                    @Html.HiddenFor(model => model.Users[i].UserRegion)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Users[i].UserEmail)
                                    @Html.HiddenFor(model => model.Users[i].UserEmail)
                                </td>
                                <td>
                                    @Html.CheckBoxFor(model => model.Users[i].IsAdmin)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("К списку регионов", "Index", new { id = Model.IidParent })
</div>

