@model IEnumerable<RegionAdminModel>
@{
    ViewBag.Title = "Администраторы базы данных";
    RegionAdminModel[] data = (Model == null) ? new RegionAdminModel[0] : Model.ToArray();
    String message = ViewBag.Message;
}

<h2>@ViewBag.Title</h2>
@if (!String.IsNullOrEmpty(message))
{
    <div class="message-success">
        @message
    </div>
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    <table>
        <thead>
            <tr>
                <th></th>
                <th>@Html.DisplayNameFor(m=>m.UserName)</th>
                <th>@Html.DisplayNameFor(m=>m.UserEmail)</th>
                <th>@Html.DisplayNameFor(m=>m.IsAdmin)</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < data.Length; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>
                        @Html.HiddenFor(m => data[i].UserId)
                        @Html.HiddenFor(m => data[i].UserName)
                        @Html.DisplayFor(m => data[i].UserName)
                    </td>
                    <td>
                        @Html.HiddenFor(m => data[i].UserEmail)
                        @Html.DisplayFor(m => data[i].UserEmail)
                    </td>
                    <td>
                        @Html.CheckBoxFor(m => data[i].IsAdmin)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Сохранить" />
}
@Html.ActionLink("К списку регионов", "Index")
