@model RegionEditModel

@{
    ViewBag.Title = "Удалить регион " + Model.Name;
}

<h2>@ViewBag.Title</h2>

<h3>Вы уверены, что хотите удалить эту команду?</h3>
@using (Html.BeginForm(new { id = Model.Iid }))
{
    <fieldset>
        <legend>RegionModel</legend>

        @Html.ValidationSummary(false)

        <div class="display-label">
             @Html.DisplayNameFor(model => model.SymCode)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.SymCode)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Name)
             @Html.HiddenFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>
        @Html.HiddenFor(model => model.Iid)
        @Html.HiddenFor(model => model.PrefixCode)
        @Html.HiddenFor(model => model.SymCode)
    </fieldset>
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("К списку регионов", "Index", new { id = Model.IidParent })
    </p>
}
