@model UserProfileModel
@{
    ViewBag.Title = String.Format("Удаление {0}", Model.Name);
}

<h2>@ViewBag.Title</h2>
<h3>Вы уверены, что хотите удалить этого пользователя?</h3>
@Html.ValidationSummary(false)
@using (Html.BeginForm("DeleteUser", "Account", FormMethod.Post))
{
    @Html.Hidden("id", Model.Iid)
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.Name)</td>
            <td>@Html.DisplayFor(m => m.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Email)</td>
            <td>@Html.DisplayFor(m => m.Email)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Region)</td>
            <td>@Html.DisplayFor(m => m.Region.Name)</td>
        </tr>
    </table>
    <input type="submit" value="Удалить" />
}
@Html.ActionLink("Назад", "Index", new { zone = Model.RegionId == null ? null : Model.Region.IidParent })