@model IEnumerable<Comp_ClimberTeam>
@{
    CompetitionModel comp = ViewBag.Comp;
    int colCount = 8;
    if (comp.Lead)
    {
        colCount++;
    }
    if(comp.Speed) 
    {
        colCount++;
    }
    if(comp.Boulder) 
    {
        colCount++;
    }
    String editorLoader, editorForm, editorDiv, messageDiv;
}
@Html.Hidden("compId", comp.Iid, new { id = "compId" })
<table>
    <thead>
    <tr>
        <td></td>
        <td>
            @Html.DisplayNameFor(m => m.Climber.ClimberName)
        </td>
        <td>
            @Html.DisplayNameFor(m => m.Climber.Person.YearOfBirth)
        </td>
        <td>
            @Html.DisplayNameFor(m => m.Climber.Qf)
        </td>
        <td>
            @Html.DisplayNameFor(m => m.Climber.Person.GenderProperty)
        </td>
        <td>
            @Html.DisplayNameFor(m => m.Climber.CompAgeGroup)
        </td>
        <td>
            @Html.DisplayNameFor(m => m.Region)
        </td>
        @if (comp.Lead)
        {
            <td>
                @Html.DisplayNameFor(m => m.Climber.Lead)
            </td>
        }
        @if (comp.Speed)
        {
            <td>
                @Html.DisplayNameFor(m => m.Climber.Speed)
            </td>
        }
        @if (comp.Boulder)
        {
            <td>
                @Html.DisplayNameFor(m => m.Climber.Boulder)
            </td>
        }
        <td></td>
        </tr>
    </thead>
    <tbody>
        @{int i = 0;}
        @foreach (var clm in Model)
        {
            editorLoader = String.Format("editorLoader{0}", clm.Iid);
            editorForm = String.Format("editorForm{0}", clm.Iid);
            editorDiv = String.Format("editorDiv{0}", clm.Iid);
            messageDiv = String.Format("messageDiv{0}", clm.Iid);
            <tr id="@String.Format("row1_{0}", clm.Iid)">
            <td>
                @(++i)
                @Html.HiddenFor(m => clm.Iid)
            </td>
            <td>@Html.DisplayFor(m => clm.Climber.ClimberName)</td>
            <td>@Html.DisplayFor(m => clm.Climber.Person.YearOfBirth)</td>
            <td>@clm.Climber.Qf.GetFriendlyValue()</td>
            <td>@clm.Climber.Person.GenderProperty.GetFriendlyValue()</td>
            <td>@Html.DisplayFor(m => clm.Climber.CompAgeGroup.AgeGroup.SecretaryName)</td>
            <td>@Html.DisplayFor(m => clm.Region.Name)</td>
            @if (comp.Lead)
            {
                <td>@clm.Climber.Lead.GetFriendlyValue()</td>
            }
            @if (comp.Speed)
            {
                <td>@clm.Climber.Speed.GetFriendlyValue()</td>
            }
            @if (comp.Boulder)
            {
                <td>@clm.Climber.Boulder.GetFriendlyValue()</td>
            }
            <td>
                <button onclick="btnEditClimber_Click('@clm.Iid')" id="@String.Format("btnEditClimber{0}", clm.Iid)" class="@Constants.HIDE_WHEN_EDIT">Правка</button>
                <div id="@editorLoader" style="display:none">
                    <img src="~/Images/ajax-loader.gif" />
                    Идет загрузка...
                </div>
            </td>
            </tr>
            <tr id="@String.Format("row2_{0}", clm.Iid)">
                <td colspan="@colCount">
                    <div id="@messageDiv" style="display:none">Пожалуйста, подождите...</div>
                    <form id="@editorForm" style="display:none">
                    @*@using (Ajax.BeginForm("SaveOneClimber", new { compId = comp.Iid },
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = editorDiv,
                            Confirm="Подтвердить?",
                            LoadingElementId=messageDiv,
                            OnBegin=String.Format("btnEditSubmit_Click(\'{0}\')", clm.Iid),
                            OnFailure=String.Format("btnEditSubmit_Failed(\'{0}\')", clm.Iid),
                            OnSuccess = String.Format("btnEditSubmit_Succeded(\'{0}\')", clm.Iid)
                        }, new { id = editorForm, style = "display:none" }))
                    {*@
                        <div id="@editorDiv"></div>
                        <input type="button" value="Подтвердить" onclick="btnEditSubmit_Click('@clm.Iid')" class="@Constants.FRM_EDITOR_CLASS" />
                        <input type="button" value="Удалить" onclick="btnDel_Click('@clm.Iid')" class="@Constants.FRM_EDITOR_CLASS" />
                        <input type="button" value="Отмена" onclick="btnCancel_Click('@clm.Iid')" class="@Constants.FRM_EDITOR_CLASS" />
                    @*}*@
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>