@model List<RegionModel>
@{
    CompetitionModel comp = ViewBag.Comp;
    String updateTargetId = "div_clm_lst";
    ViewBag.Title = "Заявка на " + comp.Name;
    List<AgeGroupModel> groupList = ViewBag.Groups;
    long? selectedRegionId = ViewBag.SelectedRegionId;
    var htmlDropDownAttr = new
    {
        onchange = "$(\'#climberSelectForm\').submit()",
        @class = Constants.HIDE_WHEN_EDIT
    };
    var defaultRegion = Model.Count == 1 ? new long?(Model[0].Iid) : selectedRegionId;
}
@section scripts{
    <script src="~/Scripts/ControllerScriptis/Registration/Index.js" type="text/javascript"></script>
}
@if (ViewBag.NewClimbersAdded)
{
    <div class="message-success">Заявка подана!</div>
}
@using (Ajax.BeginForm("ClimbersList",
        new
        {
            compId = comp.Iid
        },
        new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        OnBegin = "ListRefreshStarted",
        OnComplete = "ListRefreshCompleted",
        OnFailure = "ListRefreshFailed",
        UpdateTargetId = updateTargetId
    },
    new { id = "climberSelectForm" }))
    {
    <div id="div_loader" style="display:none">
        <img src="~/Images/ajax-loader.gif" />
        Идет загрузка...
    </div>
    <ul>
        <li>
            @if (Model.Count == 1)
            {
                <h3>Заявка от региона <b>@Model[0].Name</b></h3>
                @Html.Hidden("regionId", Model[0].Iid)
            }
            else
            {
                @Html.Label("regionId", "Регион")
                @Html.DropDownList("regionId", new SelectList(Model, "Iid", "Name", selectedRegionId), "<все регионы>", htmlDropDownAttr)
            }
        </li>
        <li>
            @Html.Label("groupId", "Возрастная группа")
            @Html.DropDownList("groupId", new SelectList(groupList, "Iid", "SecretaryName"), "<все группы>", htmlDropDownAttr)
        </li>
    </ul>
}
@using (Html.BeginForm("NewClimber", "Registration", FormMethod.Get))
{
    @Html.Hidden("compId", comp.Iid)
    @Html.Hidden("regionId", defaultRegion, new { @id = "newClimberRegion" })
    <input type="submit" value="Новая заявка" class="@Constants.HIDE_WHEN_EDIT" />
}
<div id="@updateTargetId">
    @Html.Action("ClimbersList", new
    {
        compId = comp.Iid,
        regionId = defaultRegion
    })
</div>