@model WebClimbing.Models.UserAuthentication.UserEditModel

@{
    ViewBag.Title = "Правка пользователя " + Model.UserName;
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Success)
{
    <p class="message-success">Пользователь обновлен</p>
}

@using (Html.BeginForm((string)ViewBag.Action, "Account", FormMethod.Post)) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserEditModel</legend>

        @Html.HiddenFor(model => model.Iid)

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        @if (ViewBag.Password)
        {
            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.NewPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PasswordConfirm)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PasswordConfirm)
                @Html.ValidationMessageFor(model => model.PasswordConfirm)
            </div>
        }
        else
        {
            <div class="editor-label">
                @Html.LabelFor(model => model.RegionId)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.RegionId, (SelectList)ViewBag.Regions)
            </div>
        }

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}
@if (!ViewBag.Password)
{
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
