@model WebClimbing.Models.UserAuthentication.ForgottenPasswordModel

@{
    ViewBag.Title = "Восстановление пароля";
}

<h2>Восстановление пароля</h2>

@if (Model.ModelSuccess)
{
    <p class="message-success">@ViewBag.StatusMessage</p>
    @Html.ActionLink("Войти в систему", "Login")
}
else
{
    <p class="message-error">@ViewBag.StatusMessage</p>
    using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>ForgottenPasswordModel</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>

            <p>
                <input type="submit" value="Восстановить пароль" />
            </p>
        </fieldset>
    }
}
