@model CompetitionEditModel

@{
    ViewBag.Title = String.IsNullOrEmpty(Model.FullName) ? "Новые соревнования" : ("Правка " + Model.FullName);
    int comp_year = (Model == null || Model.StartDate == null) ? DateTime.Now.Year : Model.StartDate.Value.Year;
    long? comp_region = (Model == null || Model.RegionId == null) ? null : Model.RegionId;
}

<h2>@ViewBag.Title</h2>
@if (!String.IsNullOrEmpty((String)ViewBag.Message))
{
    <div class="message-success">
        <label>@ViewBag.Message</label>
    </div>
}
@using (Html.BeginForm("SaveData", "Home", null, FormMethod.Post))
{
    @Html.ValidationSummary(false)
    @Html.HiddenFor(model => model.Iid)

    <fieldset>
        <legend>CompetitionModel</legend>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.FullName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FullName)
            @Html.ValidationMessageFor(m => m.FullName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShortName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShortName)
            @Html.ValidationMessageFor(m => m.ShortName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Region)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.RegionId, (SelectList)ViewBag.Regions)
            @Html.ValidationMessageFor(m => m.RegionId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDateText)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.StartDateText, new { @class = "date-edit" })
            @Html.ValidationMessageFor(m => m.StartDateText)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StopDateText)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.StopDateText, new { @class = "date-edit" })
            @Html.ValidationMessageFor(m => m.StopDateText)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ApplicationsEndDateString)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.ApplicationsEndDateString, new { @class = "date-edit" })
            @Html.ValidationMessageFor(m => m.ApplicationsEndDateString)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ApplicationsEditEndDateString)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.ApplicationsEditEndDateString, new { @class = "date-edit" })
            @Html.ValidationMessageFor(m => m.ApplicationsEditEndDateString)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model=> model.AllowLateApps)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(m => m.AllowLateApps)
        </div>

        @*
        <div class="editor-label">
            @Html.LabelFor(model=> model.RequireSignature)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(m => m.RequireSignature)
        </div>
        *@
        
        <div class="editor-label">
            @Html.LabelFor(model=> model.AllowMultipleTeams)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(m => m.AllowMultipleTeams)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lead)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Lead)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Speed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Speed)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Boulder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Boulder)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ageGroups)
        </div>
        <div class="competition-groups" id="ageGroups">
            <table>
                <tr>
                    <th></th>
                    <th>Группа</th>
                    <th>Используется</th>
                </tr>
                @for (int i = 0; i < Model.ageGroups.Count; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>
                            @Html.DisplayFor(m => m.ageGroups[i].Name)
                            @Html.HiddenFor(m => m.ageGroups[i].Name)
                            @Html.HiddenFor(m => m.ageGroups[i].GroupId)
                        </td>
                        <td>
                            @Html.CheckBoxFor(m => m.ageGroups[i].Confirmed)
                        </td>
                    </tr>
                }
            </table>
        </div>
        
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
@if (Model.Iid > 0)
{
    <div>
        <p>
            @Html.ActionLink("Создать ключ ЭЦП", "PrivateKey", new { id = Model.Iid })
        </p>
        <p>
            @Html.ActionLink("Отправка сообщений", "SendEmail", new { id = Model.Iid })
        </p>
    </div>
}
<div>
    @Html.ActionLink("Календарь", "Index", new { comp_year = comp_year, comp_region = comp_region })
</div>

@section scripts {
    <script src="~/Scripts/ControllerScriptis/HomeController.js" type="text/jscript"></script>
}