@using WebClimbing.Models;
@{
    var db = new ClimbingContext();
}
    <text>
    @if (Request.IsAuthenticated)
    {
        @String.Format("Здравствуйте, {0}", User.Identity.Name)
    }
    <ul>
    @if (Request.IsAuthenticated)
    {
        <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Выход</a>
            }
        </li>
        <li>
            @*@Html.ActionLink("Сменить пароль", "SelfEdit", "Account"/*, routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" }*/)*@
            @Html.ActionLink("Сменить пароль", "Edit", "Account", new { id = User.GetDbUser(db).Iid, selfEdit = true }, null)
        </li>
     }
     else
     {
        <li>
            @Html.ActionLink("Вход", "Login", "Account", null, new { id = "loginLink" })
        </li>
     }
     </ul>
     </text>
@*
@if (Request.IsAuthenticated)
{
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
            @if (User.AllowRegistration())
            {
                <ul>
                    <li>
                        @Html.ActionLink("Список пользователей", "Index", "Account", new { id = User.GetFirstListRegion() }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Новый пользователь", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                    </li>
                </ul>
            }
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Выход</a>
                }
                <ul>
                    <li>
                        @Html.ActionLink("Список спортсменов", "Index", "People")
                    </li>
                </ul>
    </text>
}
else
{
    <ul>
        <!--
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        -->
        <li>@Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
*@